<!-- Header banner -->
<div class="header">
  <div>
    <img src="../../../assets/logo-uga-new-couleurs-bandeau.png" alt="Universite Grenoble Alpes">
    <img src="../../../assets/4_422_Logo-partenaire-generique-2017.jpg" width="250" height="145">
    <div class="languageAndLogs">
      <h2 *ngIf="fullNameUser"><span translate>Logged as</span> {{fullNameUser}}</h2>

      <mat-select [(value)]="currentLanguage" (selectionChange)="switchLanguage($event)">
        <mat-option *ngFor="let language of languages" value="{{language}}">
          {{language}}
        </mat-option>
      </mat-select>
      <button *ngIf="fullNameUser" mat-icon-button class="logout-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <h1 translate>Pedagogical workbook</h1>
  </div>
</div>
